<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/calculator/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="react calculator" />
    <link rel="apple-touch-icon" href="/calculator/logo192.png" />
    <link rel="manifest" href="/calculator/manifest.json" />
    <title>React Calculator</title>
    <script defer="defer" src="/calculator/static/js/main.39cde66b.js"></script>
    <link href="/calculator/static/css/main.2e0e9cc8.css" rel="stylesheet">
    <style>
        a {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <div style="position:fixed; bottom:10px; left:10px; font-size: 72px; color:#0d6efd">
        <a href="/">←</a>
    </div>
</body>

</html>